body {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #333;
  font-size: 14px;
}

ul {
  list-style: none;
  padding: 0;
}

h1 {
  text-align: center;
  margin-bottom: 50px;
}

button {
  min-width: 80px;
  min-height: 40px;
  padding: 5px !important;
  cursor: pointer !important;
}
input {
  padding: 5px;
  min-height: 40px;
}
input[type="text"] {
  width: 100%;
}
input[type="checkbox"] {
  width: 16px;
  height: 16px;
  cursor: pointer;
  accent-color: deeppink;
  margin: 0;
}
#app {
  width: 500px;
}
#addForm {
  display: flex;
  gap: 5px;
  margin: 20px 0;
}

.count-container {
  display: flex;
  justify-content: space-between;
}

.count-container-button {
  display: flex;
  align-items: center;
  gap: 20px;
}

.count-container span,
.count-container p {
  font-weight: 700;
  font-size: 16px;
}

.list-item {
  display: flex;
  align-items: center;
  gap: 5px;
}

.list-item-name {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}

.list-item-btn {
  display: flex;
  align-items: center;
}
.list-done {
  text-decoration: line-through;
}
.edit-btn {
  min-width: 50px;
}

.delete-btn {
  all: unset;
  display: inline-block;
  text-align: center;
  min-width: 30px;
  color: #ff1313;
}
